/* FONTS */
@font-face {
  font-family: "Alegreya Bold";
  src: url("fonts/alegreya/Alegreya-Bold.ttf") format("truetype");
  /* Safari, Android, iOS */
}

@font-face {
  font-family: "Alegreya Medium";
  src: url("fonts/alegreya/Alegreya-Medium.ttf") format("truetype");
  /* Safari, Android, iOS */
}

@font-face {
  font-family: "Poppins Regular";
  src: url("fonts/poppins/Poppins-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */
}

@font-face {
  font-family: "Poppins Medium";
  src: url("fonts/poppins/Poppins-Medium.ttf") format("truetype");
  /* Safari, Android, iOS */
}

/* GLOBAL STYLES */
.padding {
  padding: 3rem 0;
}

h1 {
  font-size: 2.5em;
  font-family: "Alegreya Bold", sans-serif;
  letter-spacing: 1px;
}

@media screen and (min-widt: 992px) {
  h1 {
    font-size: 4em;
  }
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Alegreya Medium", sans-serif;
  letter-spacing: 1px;
}

h2 {
  font-size: 1.5em;
  color: #d96501;
}

@media screen and (min-widt: 992px) {
  h2 {
    font-size: 2.5em !important;
  }
}

p {
  font-family: "Poppins Regular", sans-serif;
  letter-spacing: 1.1px;
  color: #555555;
  line-height: 1.6em;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.button {
  background: #d96501;
  display: block;
  padding: 10px 12px;
  width: 100%;
  color: #fff !important;
  text-align: center;
  font-family: "Poppins Regular", sans-serif;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  border: 1px solid #d96501;
}

@media screen and (min-width: 992px) {
  .button {
    width: 144px;
  }
}

.button-2 {
  background: none;
  color: #d96501 !important;
}

.button-2:hover {
  color: blue !important;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 20;
  height: 4.5em;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  color: #d96501 !important;
  background: #fff;
}

nav .logo {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

nav .logo img {
  width: 140px;
}

@media screen and (min-width: 992px) {
  nav .logo img {
    width: 160px;
  }
}

nav .overlay {
  background: #555555;
  opacity: 0.6;
  width: 100%;
  height: 200vh;
  z-index: 20;
  position: fixed;
  display: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@media screen and (min-width: 992px) {
  nav .overlay {
    display: none;
  }
}

nav .overlay-visible {
  display: block;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@media screen and (min-width: 992px) {
  nav .overlay-visible {
    display: none;
  }
}

nav .nav-header {
  width: 100%;
}

nav .btn {
  margin-top: 0;
}

nav .links-container {
  background: #fff;
  position: fixed;
  height: 100%;
  width: 70%;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 22;
}

nav .links-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@media screen and (min-width: 992px) {
  nav .links-container ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

nav .links-container ul li {
  display: inline-block;
  margin-bottom: 2rem;
}

nav .links-container ul li:last-child {
  display: inline-block;
}

@media screen and (min-width: 992px) {
  nav .links-container ul li {
    margin-bottom: 0;
    margin-right: 2em !important;
  }
}

nav .links-container ul li a {
  font-family: "Poppins Regular", sans-serif;
  text-transform: uppercase;
  color: #333333;
  font-size: 1.6em;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

nav .links-container ul li a:hover {
  color: #d96501;
}

@media screen and (min-width: 992px) {
  nav .links-container ul li a {
    font-size: 1em;
  }
}

nav .links-container ul li .active {
  color: #d96501;
}

nav a {
  text-decoration: none;
}

nav .menu-open {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

nav #menu-btn {
  display: block;
  cursor: pointer;
  position: relative;
  z-index: 25;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

nav #menu-btn span {
  background: #333333;
  width: 32px;
  height: 4px;
  margin-bottom: 0.25em;
  display: block;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

nav #menu-btn .menu-btn-open {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 0;
}

nav #menu-btn .menu-btn-open-2 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: relative;
  margin: 0;
  bottom: 4px;
}

nav #menu-btn .menu-close {
  display: none;
  margin: 0;
}

nav #menu-btn .span:last-child {
  margin-bottom: 0em;
}

@media (min-width: 992px) {
  nav .links-container {
    position: static;
    background: transparent;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: auto;
  }
  nav .nav-header {
    width: auto;
  }
  nav #menu-btn {
    display: none;
  }
}

/* fixed nav */
.fixed-nav {
  position: fixed;
  height: 5.5em;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  -webkit-box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
          box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
  z-index: 20;
}

.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  width: 2rem;
  height: 2rem;
  background: #d96501;
  place-items: center;
  border-radius: 6px;
  -webkit-animation: bounce 3s ease-in-out infinite;
          animation: bounce 3s ease-in-out infinite;
  visibility: hidden;
  z-index: -4;
}

.top-link i {
  color: #fff;
  font-size: 1.2em;
}

.show-link {
  visibility: visible;
  z-index: 4;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* HEADER */
header {
  height: 100vh;
}

header img {
  height: 14rem;
}

@media screen and (min-width: 992px) {
  header img {
    height: 100%;
    width: 100%;
  }
}

.page header {
  padding-top: 4.5em;
  height: 30vh;
  background: url("img/img-bbq-1.JPG");
}

.banner {
  height: 40vh;
}

.banner-home {
  background: url("img/img-bbq-1.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner-home h2 {
  color: #fff;
}

.card img {
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 992px) {
  .card img {
    height: 15rem;
  }
}

.card .card-img-wrap {
  position: relative;
}

.card .card-overlay {
  position: absolute;
  background: #0000006b;
  color: #fff;
}

.event-date {
  position: absolute;
  top: 16px;
  left: 16px;
}

.icon {
  height: 3rem;
}

#gallery img {
  height: 75vw;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 576px) {
  #gallery img {
    height: 35vw;
  }
}

@media (min-width: 992px) {
  #gallery img {
    height: 18vw;
  }
}

.carousel-item img {
  height: 60vw;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 576px) {
  .carousel-item img {
    height: 350px;
  }
}

* {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#gallery.custom {
  padding: 0 15px;
}

#gallery.custom img {
  display: block;
  margin: 15px 0;
  border-radius: 300px 30px 300px 300px;
}

#gallery.custom img:hover {
  border-radius: 30px 90px 30px 30px;
}

#exampleModal.custom .modal-content {
  background: none;
  border: none;
}

#exampleModal.custom .modal-header {
  border: none;
}

#exampleModal.custom .modal-header button {
  background: none;
  border-radius: 100px 100px 0 0;
  padding: 5px 10px;
  opacity: 1;
  position: relative;
  top: 3px;
  border: solid 2px white;
}

@media (min-width: 992px) {
  #exampleModal.custom .modal-header button {
    top: 15px;
  }
}

#exampleModal.custom .modal-header button:hover {
  top: 3px;
}

#exampleModal.custom .modal-header span {
  color: white;
}

#exampleModal.custom .modal-body {
  padding: 0;
  border: none;
  position: relative;
}

#exampleModal.custom .modal-body::before, #exampleModal.custom .modal-body::after {
  content: "";
  height: 50px;
  width: 50px;
  display: block;
  position: absolute;
  background: white;
  border-radius: 3px 10px;
}

@media (min-width: 768px) {
  #exampleModal.custom .modal-body::before, #exampleModal.custom .modal-body::after {
    border-radius: 3px 30px;
    height: 100px;
    width: 100px;
  }
}

#exampleModal.custom .modal-body::before {
  top: -5px;
  left: -5px;
}

@media (min-width: 768px) {
  #exampleModal.custom .modal-body::before {
    top: -15px;
    left: -15px;
  }
}

#exampleModal.custom .modal-body::after {
  bottom: -5px;
  right: -5px;
  z-index: -1;
}

@media (min-width: 768px) {
  #exampleModal.custom .modal-body::after {
    bottom: -15px;
    right: -15px;
  }
}

#exampleModal.custom .modal-footer {
  border: none;
  margin-top: 60px;
}

@media (min-width: 992px) {
  #exampleModal.custom .modal-footer {
    margin-top: 40px;
  }
}

#exampleModal.custom .modal-footer .btn {
  margin: auto;
  border: solid 2px white;
  background: none;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  font-weight: bold;
  padding: 0.2em 0.7em;
}

#exampleModal.custom .modal-footer .btn:hover {
  background: white;
  color: black;
}

#exampleModal.custom .carousel-control-prev,
#exampleModal.custom .carousel-control-next {
  font-size: 2em;
  top: auto;
  opacity: 1;
  bottom: -52px;
}

@media (min-width: 768px) {
  #exampleModal.custom .carousel-control-prev,
  #exampleModal.custom .carousel-control-next {
    top: 0;
    opacity: 0.5;
    bottom: 0;
  }
}

#exampleModal.custom .carousel-control-next-icon,
#exampleModal.custom .carousel-control-prev-icon {
  height: 30px;
  width: 30px;
}

@media (min-width: 768px) {
  #exampleModal.custom .carousel-control-prev {
    left: -90px;
  }
}

@media (min-width: 768px) {
  #exampleModal.custom .carousel-control-next {
    right: -90px;
  }
}

#exampleModal.custom .carousel-indicators {
  bottom: -60px;
}

@media (min-width: 992px) {
  #exampleModal.custom .carousel-indicators {
    bottom: -30px;
  }
}

#exampleModal.custom .carousel-indicators li {
  height: 30px;
  border-radius: 100px;
  background: none;
  border: solid 2px white;
}

@media (min-width: 992px) {
  #exampleModal.custom .carousel-indicators li {
    height: 10px;
  }
}

#exampleModal.custom .carousel-indicators li:hover {
  background: white;
}

#exampleModal.custom .carousel-indicators li.active {
  background: white;
}
/*# sourceMappingURL=style.css.map */